 .u-section-1 {
  background-image: none;
}

<!-- HTML !-->
<button class="button-63" role="button">Button 63</button>



.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
.u-section-1 .u-sheet-1 {
  min-height: 986px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 748px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 121px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 311px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 77px;
  width: 77px;
  margin: 0 auto;
  padding: 13px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 21px -1px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px -1px 0;
}

.u-section-1 .u-container-layout-2 {
  transition-duration: 2s;
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  background-position: 0% 0%;
  min-height: 311px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 84px;
  width: 84px;
  margin: 0 auto;
  padding: 13px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 30px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px -1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  background-position: 50% 50%;
  min-height: 622px;
  background-image: url("images/7fe803f1140c0e9b643b2aa064a7e256428ca4ea3c835ebba0178851dc81168774555f63a9e9065795bb97e55159df20b95b594e0721e716c24b72_1280.jpg");
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 311px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 76px;
  width: 76px;
  margin: 0 auto;
  padding: 13px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 22px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 311px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 76px;
  width: 76px;
  margin: 0 auto;
  padding: 13px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 23px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 146px;
    margin-right: 146px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 513px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 589px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1448px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 884px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 178px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 557px;
  }
}